@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/KFOkCnqEu92Fr1MmgVxIIzQ.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/KFOkCnqEu92Fr1MmgVxIIzQ.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/KFOkCnqEu92Fr1MmgVxIIzQ.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/KFOmCnqEu92Fr1Me5Q.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/KFOlCnqEu92Fr1MmSU5fBBc4.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/KFOlCnqEu92Fr1MmEU9vAg.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/KFOlCnqEu92Fr1MmWUlfBBc4.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/KFOlCnqEu92Fr1MmYUtfBBc4.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/KFOlCnqEu92Fr1MmYUtfBBc4.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZ9hiA.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hiA.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZ9hiA.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'),
         url('../fonts/roboto/KFOmCnqEu92Fr1Me5Q.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
    size-adjust: 100%;
    ascent-override: 90%;
    descent-override: 23%;
    line-gap-override: 0%;
  }

  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto/KFOlCnqEu92Fr1MmEU9vAg.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: optional;
    size-adjust: 100%;
    ascent-override: 90%;
    descent-override: 23%;
    line-gap-override: 0%;
  }

  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto/KFOlCnqEu92Fr1MmWUlfBBc4.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: optional;
    size-adjust: 100%;
    ascent-override: 90%;
    descent-override: 23%;
    line-gap-override: 0%;
  }

  @font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
         url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
    size-adjust: 100%;
    ascent-override: 90%;
    descent-override: 23%;
    line-gap-override: 0%;
  }

  @font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'),
         url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hiA.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: optional;
    size-adjust: 100%;
    ascent-override: 90%;
    descent-override: 23%;
    line-gap-override: 0%;
  }
} 